body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 50px; /* Ajuste conforme o tamanho da sua logo */
    height: auto;
    margin-right: 10px;
}

.btn-voltar {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    background-color: #333;
    border-radius: 5px;
}

.btn-voltar:hover {
    background-color: #555;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.receitas {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.receita {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.receita:hover {
    transform: translateY(-5px);
}

.receita a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.receita img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.receita h2 {
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}